<div class= "error">
<% if !flash[:alert].nil? %> 
   <%= flash[:alert] %>
<% end %>
</div>


<table>
<tr>
<th>Name</th>
<th>Role</th>
</tr>

  <% @users.each do |user| %>
      <tr>
     <td> <%= link_to user.username, user_path(user) %></td> 
     <td> <%=user.permission_class.title%> </td>
     </tr>
  <% end %>
</table>
<%if @current_user.permission_class.create_users%>
<%= link_to 'Add User', new_user_path %>
<%end%>